import React from 'react'

type {{properCase name}}Props = {}

const {{properCase name}}: React.FC<{{properCase name}}Props> = () => {
  return <p>Hello World</p>
}

export default {{properCase name}}
